.twitter {
  letter-spacing: 0.02em;
  width: 220px;
}

.twitterTitle {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.twitterLogo img {
  width: 24px;
}

.twitterTitle h1 {
  font-size: 12px;
  font-weight: 600;
}

.twitterLocation {
  font-size: 8px; 
}

.twitter li {
  font-size: 8px; 
  border-right: 1px solid #ddd;
}

.twitterPosts {
  padding: 10px;
}

.twitterPost {
  padding:10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 160px;
}

li img {
  width: 32px;
  padding: 0 5px 0;
}

.rowElements {
  display: inline-block;
}