.twitterPost {
  padding:10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;
}

.twitterPostContent {
  width: 150px;
}

.twitterPostIcon img {
  width: 32px;
  padding: 0 5px 0;
}

.rowElements {
  display: inline-block;
}